<?xml version="1.0"?>

<configuration>

    <appSettings>
        <add key="PositiveDataPath" value="../../data/positive"/>
        <add key="NegativeDataPath" value="../../data/negative"/>        
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0"/>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
    
</configuration>
