<?xml version="1.0"?>

<configuration>
    
    <configSections>
        <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
    </configSections>
    
    <spark>
        <compilation debug="false"/>
        <pages automaticEncoding="true">
            <namespaces>
                <add namespace="System"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Linq"/>
                <add namespace="Sentan.Web.Handlers"/>
                <add namespace="Sentan.Core"/>
                <add namespace="tinyweb.framework.Helpers"/>
            </namespaces>
        </pages>
    </spark>

    <appSettings>
        <add key="PositiveDataPath" value="../../data/positive"/>
        <add key="NegativeDataPath" value="../../data/negative"/>        
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime requestValidationMode="2.0"/>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
    
</configuration>
